In [1]:
# if/elif/else statements in Python

n = 8

if n < 5:
    print("Hello")
     
elif n < 9:
    print("Welcome")
    
elif n < 15:
    print("Bye")
    
else:
    print("????")
    
print("End")

Welcome
End

In [2]:
# while loop

x = 100
while x > 90:
    x-=1
    print(x)
print("End")

99
98
97
96
95
94
93
92
91
90
End

In [3]:
# for loop
l = [1, 2, 3, [3,5,7]]
for x in l:
    print(x, id(x))
print(id(l[-1]))

1 997998160176
2 997998160208
3 997998160240
[3, 5, 7] 998095731456
998095731456

In [4]:
# Example of for loop

l = [5, 47, 71, 123]
sum = 0
for x in l : 
    sum += x 
    print(sum)

5
52
123
246

In [5]:
# Example of while loop

l = [23, 35, 46, 74, 188]

sum = 0
i = 0

while i < len(l):
    print(i)
    sum += l[i]
    i+=1
print(sum)

0
1
2
3
4
366

In [6]:
# Example of for loop

l = [23, 35, 46, 74, 188]

i = 0
for i in range(len(l)):
    sum += x
    print(sum)
    print(l[i])

489
23
612
35
735
46
858
74
981
188

In [7]:
# Example of for loop

l = [1, 4, 41, 102, 111]

sum = 0
i = 0

for i in range(len(l)):
    if i % 4 == 3:
        break
    print(l[i])

1
4
41

In [8]:
# Example of for loop

l = [1, 4, 41, 102, 111]

sum = 0
i = 0

for i in range(len(l)):
    if i % 2 == 0:
        continue
    print(l[i])

4
102

In [9]:
# Enchangting Verifiable Transformation

x = input("What are you from?")
print("I am from " + x + "!")

What are you from?New York
I am from New York!

In [10]:
x = int(input())
print("How are you " * x)

3
How are you How are you How are you

In [11]:
# Lists, sets, and dictionaries are mutable

x = 1
y = x
z = 1
a = 0

print(id(x))
print(id(y))
print(id(z))
print(id(a))

a += 1
print(id(a))

997998160176
997998160176
997998160176
997998160144
997998160176

In [12]:
car1 = "maserati"
car2 = ["audi", True]
car3 = "toyota"
car4 = [2, 5.7, "abcdef", False]

print(type(car1))
print(type(car4))
print(len(car2))
print(car2[0])
print(car4[3:0:-1])

<class 'str'>
<class 'list'>
2
audi
[False, 'abcdef', 5.7]

In [13]:
# l.append()

car1 = "maserati"
car2 = [2, 5.7, "abcdef", False]
car3 = "toyota"
car4 = ["audi", True]

car2.append("765")
print(car2)
print(car2[4:1:-1])
print(car2[-1][1])
print(type(car2[4]))

car4.append([2,3,4])
print(car4)
print(car4[-1])
print(car4[-1][1])
print(type(car4[2]))

[2, 5.7, 'abcdef', False, '765']
['765', False, 'abcdef']
6
<class 'str'>
['audi', True, [2, 3, 4]]
[2, 3, 4]
3
<class 'list'>

In [14]:
# Numbers, strings, tuples, and frozen sets are immutable

l = [3,4,5]
print(id(l))

l.append(4)
print(id(l))

s = "apple"
print(id(s))

s = s + "d"
print(id(s))

998095721792
998095721792
998095541360
998095408752

In [15]:
l = [0,1,2,3,4]

print(l[1:])
print(l[:0:-1])

l[2:] = []
print(l)

l[0] = [5,6,7]
print(l)

l[1] = [8,9,10]
print(l)

[1, 2, 3, 4]
[4, 3, 2, 1]
[0, 1]
[[5, 6, 7], 1]
[[5, 6, 7], [8, 9, 10]]

In [16]:
# l.pop()

l = [33,21,56,7, [0,1,2,3]]

print(l.pop())
print(l.pop(1))

[0, 1, 2, 3]
21

In [17]:
# l.sort()

l = [54,90,12,8,2,120]
l.sort()

print(l)
print(max(l))
print(min(l))

[2, 8, 12, 54, 90, 120]
120
2

In [18]:
s1 = "oiuyyte"
s2 = s1[:]
print(id(s1))
print(id(s2))

998095659120
998095659120

In [19]:
x = [2,4,6]
y = x 
print(id(x))
print(id(y))

z = [2,4,6]
print(id(z))

x[1] = 20
print(x)
print(y)
print(z)

998095735424
998095735424
998095728896
[2, 20, 6]
[2, 20, 6]
[2, 4, 6]

In [26]:
# Using the function of enumerate() or Python enumerate()

list = [3, 57, 128, 342]
for index, val in enumerate(list):
    print(index, val)

0 3
1 57
2 128
3 342

In [28]:
# Using a for loop, without using enumerate()

# Loop variable index starting from 0 

list = [3, 57, 128, 342]
for index in range(len(list)):
    value = list[index]
    print(index, value)

0 3
1 57
2 128
3 342

In [27]:
# Starting the indexing with non zero value

# The value of the parameter start offering the starting index

list = [3, 57, 128, 342]
for index, val in enumerate(list, start = 1):
    print(index, val)

1 3
2 57
3 128
4 342

In [20]:
# Question one of average between indices

def solve(n, arr, x, y):
    return sum(arr[x:y+1]) / (y-x+1)

In [21]:
# Question two of characters frequency

# Solution one

def solve(str1):
    dict = {}
    for i in str1:
        if i in dict:
            dict[i] += 1
        else:
            dict[i] = 1
            
    list = []
    
    for i in str1:
        if dict[i] != 0:
            list.append(dict[i])
            dict[i] = 0
    
    return list

In [22]:
# Solution two

def solve(str1):
    d = {}
    for i in str1:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
            
    l = []
    
    for i in str1:
        if d[i] != 0:
            l.append(d[i])
            d[i] = 0
    
    return l

In [23]:
# Solution three

def solve(str1):
    li = []
    j = []

    for i in str1:
        if i not in j:
            li.append(str1.count(i)) 
            j.append(i)
    return li

In [24]:
# Solution four

def solve(str1):
    dic = {}
    for letter in str1:
        if letter in dic:
            dic[letter] += 1
        else:
            dic[letter] = 1 
    return dic.values()

In [25]:
# Question three of palindromic staircase

def solve(n):
    l = []
    sum = 0
    for i in range(n): 
        sum = sum + pow(10,i)
        l.append(sum*sum)
    return l